<!-- <head>
    <link rel="stylesheet" href="styles.css">
  </head> -->
<footer class="footer py-3 mt-auto">
    <div class="container" id="foottxt">&copy;2022 Cafe Lookout || Przemysław Sulich</div>
</footer>