<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 mt-5">
                <div class="alert alert-danger" role="alert">
                    <h3 class="alert-heading">Error <%= err.statusCode %></h3>
                    <hr>
                    <h4>
                        <%= err.message %>
                    </h4>
                    
                </div>
            </div>
        </div>
    </div>